{
  "env": {
    "app": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "react",
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        [
          "styled-jsx/babel", {
            "plugins": [
              "styled-jsx-plugin-postcss"
            ]
          }
        ],
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/app"
            }
          ]
        ],
        [
          "transform-imports", {
            "material-ui": {
              "transform": "material-ui/${member}",
              "preventFullImport": true
            }
          }
        ]
      ]
    },
    "api": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/api"
            }
          ]
        ]
      ]
    }
  }
}
