{
  "env": {
    "app": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "react",
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/app"
            }
          ]
        ]
      ]
    },
    "api": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": [
        "transform-runtime",
        [
          "babel-plugin-root-import", [
            {
              "rootPathPrefix": "~",
              "rootPathSuffix": "src/api"
            }
          ]
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "stage-0",
        "flow"
      ],
      "plugins": []
    }
  }
}
