{
  "plugins": [],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      },
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src/app"
      }
    }
  },
  "rules": {
    // Plugins
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["warning", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",

    // Possible Errors

    // Best Practices

    // Variables

    // Node.js and CommonJS

    // Stylistic Issues
    "function-paren-newline": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "object-curly-newline": ["error", { "consistent": true }],

    // JS.Next
    "generator-star-spacing": ["error", { "before": true, "after": false }],
  }
}
